CMakeFiles
CMakeCache.txt
cmake_install.cmake
*.mid.*
*.root
*~
*.so
lib*
rakobra
rakobra_server
Makefile
midcheck
figs
*Dict*
root
analysis*
!scripts/analysis.xlsx
.vscode
build
rawdata
.DS_Store
misc
*.pkl
*__pycache__
.venv_pptx/**
.cache/**
